body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d4efdf;
  color: #333;
}

header {
  background-color: #54815F;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 38px;
}

.menu-toggle {
  font-size: 2rem;
  cursor: pointer;
}

nav {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

nav li:hover {
  background-color: #ccc;
}

.hidden {
  display: none;
}

main {
  padding: 1rem;
}

form {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input, select, textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

button {
  background-color: #E5A91E;
  color: white;
  border: none;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #54815F;
}

.turno-card {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#calendarioMes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 1rem;
}

.dia {
  background: white;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.festivo {
  background: #f88;
}
